* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu Mono", monospace;
}

/* header start */
.header {
  /* background-image: url(images/donation13.jpg); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("images/donation13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.h1 {
  font-size: 65px;
  font-weight: 700;
  color: white;
  width: 800px;
  text-align: center;
}
.paragraph {
  width: 700px;
  color: white;
  text-align: center;
  font-size: 18px;
}
.donate-button {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 20px 50px;
  border-radius: 5px;
  font-weight: 700;
  margin-bottom: 50px;
}
/* header end */

/* Donate Today Section start */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.container .h1 {
  color: #121212;
  padding-bottom: 50px;
}
.container .paragraph {
  color: #707070;
  padding-bottom: 50px;
}
.amount {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.amount-item {
  padding: 80px 70px;
  border-radius: 5px;
  background-color: #fafafa;
  color: #707070;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 70px;
}
.active {
  border: 2px solid #ff5959;
  background-color: #ffeeee;
  color: #ff5959;
}
.container input[type="text"] {
  width: 65%;
  height: 50px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid #dadada;
  outline: none;
}
/* Donate Today Section end */

/* Donate Plan Section start */
.cards {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 70px;
}
.card-item {
  width: 360px;
  height: 350px;
  border-radius: 5px;
}
.icon {
  padding: 10% 0 5% 8%;
}
.card-item h3 {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
  margin-bottom: 5%;
  margin-left: 8%;
}
.card-description {
  font-size: 20px;
  color: #707070;
  margin-left: 8%;
  margin-right: 8%;
}
.item1 {
  background-color: #4f9da61a;
}
.item2 {
  background-color: #ff59591a;
}
.item3 {
  background-color: #fff4d6;
}
/* Donate Plan Section end */

/* join our mission section start */
.mission h4 {
  color: tomato;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.mission h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
hr {
  background-color: tomato;
  width: 70px;
  margin: 0 auto;
  color: tomato;
  height: 10px;
  border: none;
  border-radius: 5px;
}
.mission-container {
  display: flex;
  width: 70%;
  padding: 5% 15%;
}
.info {
  width: 50%;
}
.info-item {
  display: flex;
  padding: 5%;
}
.info-item .icon {
  width: 20%;

  padding: unset;
}
.info-item .icon img {
  width: 70%;
}
.info-name {
  width: 80%;
}
.info-name h4 {
  text-align: left;
  color: black;
}
.info-name p {
  color: #707070;
}
.image {
  width: 50%;
}

.image img {
  width: 100%;
}
/* join our mission section end */

/* sponsor section start */
.sponsor {
  /* background-image: url("images/donation4.jpg"); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/donation4.jpg");

  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 70px;
}
.sponsor .change {
  color: tomato;
  font-weight: 700;
  font-size: 20px;
}
/* sponsor section end */

/* Updates Section start */
.email-section {
  background-color: #fff4d6;
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
input[type="email"] {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  width: 275px;
  height: 50px;
  font-size: 16px;
  padding-left: 10px;
  color: #aa9f9f;
}
.subscribe-button {
  background-color: #ff5959;
  max-height: 50px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 17px 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Updates Section start */

/* footer section start */
footer {
  height: 180px;
  background-color: #0b0d17;
}
footer h4 {
  color: #ff5959;
  font-family: "Lobster";
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
footer p {
  color: #d9dbe1;
  font-size: 14px;
  text-align: center;
}
/* footer section end */
